body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff8f0;
}

header {
  background: #ffcc00;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  padding: 20px;
}

.products {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  background: #ff5733;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart {
  width: 30%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-weight: bold;
  margin-top: 15px;
}

.whatsapp-btn {
  background: #25D366;
  width: 100%;
  margin-top: 15px;
}

  .redes-iconos a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
  }

.footer {
  background: #111;
  color: #fff;
  padding: 40px 20px 20px;
  margin-top: 50px;
}

/* CONTENEDOR FLEX RESPONSIVE */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 🔥 ESTO SOLUCIONA TU PROBLEMA */
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

/* COLUMNAS */
.footer-col {
  flex: 1;
  min-width: 250px;
}

/* TEXTOS */
.footer h3 {
  color: #f4c542;
}

.footer h4 {
  margin-bottom: 10px;
  color: #f4c542;
}

.footer p {
  color: #ccc;
}

/* REDES */
.socials a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 5px;
}

.socials a:hover {
  color: #f4c542;
}

/* PARTE INFERIOR */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}
